{% load static%}

<style>
   h1{
  color: rgb(0, 81, 255);
}

h4{
  color: rgb(255, 60, 0);
 
}
form{
  background-color: rgb(150, 169, 170);
background-image:url('{% static "assets/img/hero-bg-light.webp " %}');
} 

</style> 


  
<form method="POST" action="login" >
    {% csrf_token %}
   <center >
    {% for message in messages%}
<h4> {{message}}</h5>
{% endfor %}
<div></div>
    <h1> Login Page</h1>
    <h3>Username: <input type="text" name="username" /></h3>
    <h3>Password: <input type="Password" name="password" /></h3>
    <input type="submit"/>

    <h5> If you don't have an account,  <a class="btn-getstarted" href="registration">Sign up</a></h5>
  </center>
</form>
<img src={% static 'assets/img/hero-bg-light.webp' %} >
</body>